:root {
  color-scheme: light dark;
}

body {
    margin: 1rem 3rem 10rem 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #0E1415;
    background-color: light-dark(#F7F7F7, #0E1415);
}

body,
a,
a:active,
a:focus,
a:visited,
a:hover {
    color: #ccc;
    color: light-dark(#000, #ccc);
}

a,
a:active,
a:focus,
a:visited,
a:hover {
    text-decoration: underline;
}

a:hover {
    color: #325CC0;
}

pre,
code {
    background: rgb(40, 40, 40);
    background: light-dark(rgb(230, 230, 230), rgb(40, 40, 40));
    font-family: "Fire Code", SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", Courier, monospace;
}

code {
    border-radius: 3px;
    padding: 0.2rem 0.3rem;
    font-size: 1rem;
    white-space: pre;
    overflow-wrap: normal;
}

pre {
    line-height: 1.5rem;
    padding: 1rem;
    max-width: 100%;
    overflow-x: auto;
}
header h1 a,
header h1 a:hover,
header h1 a:active,
header h1 a:focus,
header h1 a:visited {
    text-decoration: none;
}

body > header h1 {
    font-weight: 300;
}

body > article,
body > header {
    max-width: 45rem;
    margin: 0 auto;
}

body > article {
    margin-bottom: 5rem;
}

article > header h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0;
}

article header p {
    margin: 0;
    font-size: 1rem;
}

article > p {
    line-height: 1.6;
    word-wrap: break-word;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

article > h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

article > h2 + p,
article hr + p {
    margin-top: 0;
}

article ul {
    margin: 0;
    padding: 0 0 0 1.5rem;
}

article li {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 1.2rem;
}

article img {
    max-height: 80vh;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

hr {
    border: none;
    margin: 1.5rem 0 1rem 0;
    text-align: center;
}

hr::after {
    content: "***";
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
    line-height: 1;
}

@media (max-width: 768px) {
    body {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    body > header h1 {
        font-size: 2rem;
        margin-top: -1.5rem;
        margin-left: -1rem;   
      }        
    }      
    
}
