<button class="dark-toggle js-dark-toggle" tabindex="0">
set dark<br /> mode to<br /> not dark<br /> mode
</button>
<script>
(function () {
    var darkMode = localStorage.getItem('darkmode') === '1';
    document.body.className = darkMode ? 'dark' : '';
    document.querySelector('.js-dark-toggle').addEventListener('click', function () {
    var darkMode = document.body.className === 'dark';
    try {
        localStorage.setItem('darkmode', darkMode ? 0 : 1);
    } catch (e) { }
    document.body.className = darkMode ? '' : 'dark';
    })
})();
</script>
