<!DOCTYPE html>
<html>
<head lang="ru">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{item.title}} - Mike Saburenkov</title>
  <link rel="stylesheet" href="css.css"/>
  <link rel="alternate" type="application/json" title="Mike Saburenkov" href="http://mikesub.net/blog/feed.json" />
  <link rel="alternate" type="application/rss+xml" title="Mike Saburenkov" href="http://mikesub.net/blog/rss.xml"/>
  <meta name="author" content="Mike Saburenkov"/>
  <meta name="description" content="{{item.description}}"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@mikesub"/>
  <meta name="twitter:title" content="{{item.title}}"/>
  <meta name="twitter:description" content="{{item.description}}"/>
  <link href="https://micro.blog/mikesub" rel="me" />
</head>
<body>
  <header><h1><a href="index.html">Mike Saburenkov</a></h1></header>
  <article>
    <header>
      {{#item.title}}<h1>{{item.title}}</h1>{{/item.title}}
      <p><time datetime="{{item.machineDate}}">{{item.humanDate}}</time></p>
    </header>
    {{{item.body}}}
  </article>
</body>
</html>
