<!DOCTYPE html>
<html>
<head lang="ru">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{siteTitle}}</title>
  <link rel="stylesheet" href="css.css"/>
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{{siteURL}}}/rss.xml"/>
  <meta name="author" content="{{siteTitle}}"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@mikesub"/>
  <meta name="twitter:title" content="{{item.title}}"/>
</head>
<body>
  <header><h1><a href="{{{siteURL}}}">{{siteHeading}}</a></h1></header>
  <article>
    <header>
      <h1>{{item.title}}</h1>
      <p><time datetime="{{item.machineDate}}">{{item.humanDate}}</time></p>
    </header>
    {{{item.body}}}
  </article>
</body>
</html>
