<!DOCTYPE html>
<html>
<head lang="ru">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - Mike Saburenkov</title>
  <link rel="stylesheet" href="css.css"/>
  <link rel="alternate" type="application/json" title="Mike Saburenkov" href="http://mikesub.net/blog/feed.json" />
  <link rel="alternate" type="application/rss+xml" title="Mike Saburenkov" href="http://mikesub.net/blog/rss.xml"/>
  <meta name="author" content="Mike Saburenkov"/>
  <meta name="description" content="Mike Saburenkov"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@mikesub"/>
  <meta name="twitter:title" content="Mike Saburenkov"/>
  <meta name="twitter:description" content="Mike Saburenkov"/>
  <link href="https://micro.blog/mikesub" rel="me" />
  {{> _analytics}}
</head>
<body>
  <header><h1>Mike Saburenkov</h1></header>
  {{#items}}
    <article>
      <header>
        <h1><a href="{{path}}">{{#title}}{{title}}{{/title}}{{^title}}#{{/title}}</a></h1>
        <p><time datetime="{{machineDate}}">{{humanDate}}</time></p>
      </header>
      {{{body}}}
    </article>
  {{/items}}
  {{> _darkmode}}
</body>
</html>
