<!DOCTYPE html>
<html>
<head lang="ru">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog - {{config.author}}</title>
  <link rel="stylesheet" href="css.css"/>
  <link rel="alternate" type="application/json" title="{{config.title}}" href="{{{config.url}}}feed.json" />
  <link rel="alternate" type="application/rss+xml" title="{{config.title}}" href="{{{config.url}}}rss.xml"/>
  <meta name="author" content="{{config.author}}"/>
  <meta name="description" content="{{config.author}}"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="{{config.twitter}}"/>
  <meta name="twitter:title" content="{{config.title}}"/>
  <meta name="twitter:description" content="{{config.title}}"/>
  {{#config.microblog}}<link href="{{{config.microblog}}}" rel="me" />{{/config.microblog}}
  {{> _analytics}}
</head>
<body>
  <header><h1>{{config.title}}</h1></header>
  {{#items}}
    <article>
      <header>
        <h1><a href="{{path}}">{{#title}}{{title}}{{/title}}{{^title}}#{{/title}}</a></h1>
        <p><time datetime="{{machineDate}}">{{humanDate}}</time></p>
      </header>
      {{{body}}}
    </article>
  {{/items}}
  {{> _darkmode}}
</body>
</html>
