<!DOCTYPE html>
<html>
<head lang="ru">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{siteTitle}}</title>
  <link rel="stylesheet" href="{{siteURL}}/css.css"/>
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{siteURL}}/rss.xml"/>
  <meta name="author" content="{{siteTitle}}"/>
  <meta name="description" content="{{siteHeading}}"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@mikesub"/>
  <meta name="twitter:title" content="{{siteTitle}}"/>
  <meta name="twitter:description" content="{{siteHeading}}"/>
</head>
<body>
  <header><h1>{{siteHeading}}</h1></header>
  {{#items}}
    <article>
      <header>
        <h1><a href="{{path}}">{{title}}</a></h1>
        <p><time datetime="{{machineDate}}">{{humanDate}}</time></p>
      </header>
      {{{body}}}
    </article>
  {{/items}}
</body>
</html>
