<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>Mike Saburenkov</title>
        <link>http://mikesub.net/blog</link>
        <description>Mike Saburenkov</description>
        {{#items}}
            <item>
                <title>{{title}}</title>
                <guid isPermalink="true">http://mikesub.net/blog/{{path}}</guid>
                <link>http://mikesub.net/blog/{{path}}</link>
                <description>{{body}}</description>
                <pubDate>{{rssDate}}</pubDate>
            </item>
        {{/items}}
    </channel>
</rss>
